<section fxLayout="column" fxLayoutAlign="center center ">
    <mat-card class="list-card">
        <mat-card-title>Your Lists</mat-card-title>
        <mat-card-content>
            <ul>
                <li *ngFor="let n of noteList">
                    <div>{{n.Desc}}</div>
                    <div>
                        <a routerLink="/note/{{n.ID}}">View</a>
                        <a routerLink="/notemembers/{{n.ID}}">Share</a>
                        <button (click)="deleteNoteList(n.ID)">Delete</button>
                    </div>
                    <!-- {{n.Creator}} -->
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
    <form (ngSubmit)="addNewList(f)" #f="ngForm">
        <mat-card class="list-card">
            <mat-card-title>New List</mat-card-title>
            <mat-card-content>
                <mat-form-field>
                    <input type="text" matInput placeholder="Description" ngModel name="noteDesc" maxlength='25' required>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-button [disabled]="f.invalid">Create List</button>
            </mat-card-actions>
        </mat-card>
    </form>

</section>