mat-sidenav-container, mat-sidenav-content, mat-sidenav{
    height: 100%;
}

mat-sidenav{
    width: 250px;
}

.list-card {
    margin: 1.5em 1.5em 0em 1.5em ;
    max-width: 300px;
    min-width: 300px;
  }
  .list-card-single {
    margin: 1.5em 1.5em 1.5em 1.5em ;
    max-width: 300px;
    min-width: 300px;
  }